<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
         <h1>Group Name: {{groupname}}</h1>
         <textarea id="chat-log" cols="110" rows="10">
            {% for chat in chats %}
            {{chat.content}}
            {% endfor %}
         </textarea><br>
         <input id="chat-message-input" type="text" size="100"><br>
         <input id="chat-message-submit" type="button" value="Send" ><br>
         
        {{groupname|json_script:"group-name"}}

    <script>
        const groupname = JSON.parse(document.getElementById('group-name').textContent)
        
        console.log('group name', groupname)
        
        var ws = new WebSocket(
        'ws://'
        + window.location.host
        +  '/ws/ajwc/'
        + groupname
        + '/'
        )

        ws.onopen = function(){
            console.log('webSocket connections Open...')
            // ws.send(JSON.stringify({"msg":'message from Client'}))
        }

        ws.onmessage = function(event) {
            console.log('Message Received from Server...', event.data)
            var data = JSON.parse(event.data)
            console.log('Actual data  from server...', data.msg)
            // document.getElementById('chat-log').innerText = data.message
            document.querySelector('#chat-log').value += (data.msg + '\n')
        }

        ws.onclose = function(event)
        {
            console.error('Chat socket closed unexpectedly')
        }

       document.getElementById("chat-message-submit").onclick = function(event){
        const messageInputDom = document.getElementById("chat-message-input")
        const message = messageInputDom.value 
        ws.send(JSON.stringify({
            'msg':message
        }))
        messageInputDom.value = ""
       }
          
    </script>
</body>
</html>