<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="10"></textarea>
    <input type="text" name="" id="chat-message-input" size="100"><br>
    <input type="button" value="Send" id = "chat-message-submit">

    <br>

    <script>
        var ws = new WebSocket('ws://127.0.0.1:8000/ws/sc/')

        ws.onopen = function(){
            console.log('Websocket connection opened...')
        }

        ws.onmessage = function(event){
            console.log('Message Receiced from server...', event.data)
            const data = JSON.parse(event.data) 
            console.log(data.msg)
            // document.querySelector('#chat-log').value += (data.msg + '\n')
            document.getElementById('chat-log').value += (data.msg + '\n')
        }

        ws.onerror = function(event){
            console.log('Websocket error Occured ', event)
        }

        ws.onclose = function(event){
            console.log('Websocket Connection Closed...', event)
        }


        document.getElementById('chat-message-submit').onclick = 
        function(event){
                 const messageInputDom = document.getElementById
                 ('chat-message-input')
                 const message = messageInputDom.value
                 ws.send(JSON.stringify({
                    'msg': message
                 })) 
                 messageInputDom.value = ''
        }

    </script>
</body>
</html>