<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
</head>
<body>

    <h1> Group Name: {{groupname}}</h1>
    <textarea id="chat-log" cols="100" rows="10">
     {% for chat in chats %}
         {{chat.content}}
     {% endfor %}
    </textarea>

    <input type="text" name="" id="chat-message-input" size="100"><br>
    <input type="button" value="Send" id = "chat-message-submit">

    {{ groupname|json_script:"group-name" }}
 
    <!--  group-name work as a id in html..it is js.. -->

    <br>

    <script>
        const value = document.getElementById('group-name').textContent
        const groupName = JSON.parse(value)
        console.log(groupName)
        // var ws = new WebSocket('ws://127.0.0.1:8000/ws/sc/')

        var ws = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/ac/'
            + groupName
            + '/'
        )

        ws.onopen = function(){
            console.log('Websocket connection opened...')
        }

        ws.onmessage = function(event){
            console.log('Message Receiced from server...', event.data)
            const data = JSON.parse(event.data) 
            console.log(data.msg)
            // document.querySelector('#chat-log').value += (data.msg + '\n')
            document.getElementById('chat-log').value += (data.msg + '\n')
        }

        ws.onerror = function(event){
            console.log('Websocket error Occured ', event)
        }

        ws.onclose = function(event){
            console.log('Websocket Connection Closed...', event)
        }


        document.getElementById('chat-message-submit').onclick = 
        function(event){
                 const messageInputDom = document.getElementById
                 ('chat-message-input')
                 const message = messageInputDom.value
                 ws.send(JSON.stringify({
                    'msg': message
                 })) 
                 messageInputDom.value = ''
        }

    </script>
</body>
</html>